Repository Ev1527/terraliniti: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-staged, eslint-staged, stylelint-staged

prettier-staged:
  run: npx prettier --write {staged_files}

eslint-staged:
  run: npx eslint --fix {staged_files}

stylelint-staged:
  run: npx stylelint --fix {staged_files}

config styles
  index.html
  public/vite.svg
  public/vue.svg
  src/@style.css
  src/App.tsx
  src/components/HelloWorld.tsx
  src/main.ts
  src/reset.css
  src/style.css
Due: prettier-staged, eslint-staged, stylelint-staged

stub
  public/bck/stub.png
  public/fonts/CodeNext-ExtraBold.ttf
  public/fonts/CodeNext-ExtraBold.woff
  public/fonts/CodeNext-ExtraBold.woff2
  public/fonts/Manrope-Bold.ttf
  public/fonts/Manrope-Bold.woff
  public/fonts/Manrope-Bold.woff2
  public/fonts/Manrope-ExtraBold.ttf
  public/fonts/Manrope-ExtraBold.woff
  public/fonts/Manrope-ExtraBold.woff2
  public/fonts/Manrope-ExtraLight.ttf
  public/fonts/Manrope-Light.ttf
  public/fonts/Manrope-Light.woff
  public/fonts/Manrope-Light.woff2
  public/fonts/Manrope-Medium.ttf
  public/fonts/Manrope-Medium.woff
  public/fonts/Manrope-Medium.woff2
  public/fonts/Manrope-Regular.ttf
  public/fonts/Manrope-Regular.woff
  public/fonts/Manrope-Regular.woff2
  public/fonts/Manrope-SemiBold.ttf
  public/fonts/Manrope-Semibold.woff
  public/fonts/Manrope-Semibold.woff2
  public/icons/icon-earth.svg
  public/icons/icon-email.svg
  public/icons/icon-phone.svg
  src/App.tsx
  src/app/App.tsx
  src/app/app.module.css
  src/app/styles/font.css
  src/app/styles/reset.css
  src/components/stub/stub.module.css
  src/components/stub/stub.tsx
  src/index.css
  src/main.ts
  stylelint.config.mjs
  types/prop-types.ts
Due: prettier-staged, eslint-staged, stylelint-staged

fix
  src/components/stub/stub.module.css
Due: prettier-staged, stylelint-staged

fix
  index.html
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier-staged

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier-staged

Реализован хедер страницы, главная страница + скрол ко второй странице
  public/bck/stub.png
  public/icons/icon-arrow.svg
  src/app/App.tsx
  src/components/aboutSection/aboutSection.module.css
  src/components/aboutSection/aboutSection.tsx
  src/components/header/header.module.css
  src/components/header/header.tsx
  src/components/homeSection/homeSection.module.css
  src/components/homeSection/homeSection.tsx
  src/components/stub/stub.module.css
  src/components/stub/stub.tsx
Due: prettier-staged, eslint-staged, stylelint-staged

Правка записи пропсов в header
  src/components/header/header.tsx
Due: prettier-staged, eslint-staged

Страница с информацией о компании
  public/team/1.png
  public/team/2.png
  public/team/3.png
  public/team/4.png
  src/app/app.module.css
  src/components/aboutSection/aboutSection.module.css
  src/components/aboutSection/aboutSection.tsx
  src/components/aboutSection/widgetInfo/widgetInfo.module.css
  src/components/aboutSection/widgetInfo/widgetInfo.tsx
  src/components/aboutSection/widgetStats/widgetStats.module.css
  src/components/aboutSection/widgetStats/widgetStats.tsx
  src/components/homeSection/homeSection.module.css
Due: prettier-staged, eslint-staged, stylelint-staged

Добавлена секция с продуктами и добавлена секция с видео
  public/icons/icon-rightArrow.svg
  public/product/product.png
  public/product/product2.png
  public/product/product3.png
  src/app/App.tsx
  src/components/aboutSection/aboutSection.module.css
  src/components/aboutSection/aboutSection.tsx
  src/components/aboutSection/widgetProduct/widgetProduct.module.css
  src/components/aboutSection/widgetProduct/widgetProduct.tsx
  src/components/aboutSection/widgetStats/widgetStats.tsx
  src/components/dropDownSection/dropDownSection.module.css
  src/components/dropDownSection/dropDownSection.tsx
  src/components/feedbackSection/feedbackSection.module.css
  src/components/feedbackSection/feedbackSection.tsx
  src/components/header/header.tsx
  src/components/homeSection/homeSection.tsx
  src/components/masterButton/masterButton.module.css
  src/components/masterButton/masterButton.tsx
  src/components/productSection/productSection.module.css
  src/components/productSection/productSection.tsx
  src/components/videoSection/videoSection.module.css
  src/components/videoSection/videoSection.tsx
Due: prettier-staged, eslint-staged, stylelint-staged

Добавлены две секции
  public/bck/bgFeedBack.png
  public/bck/footerBg.png
  public/icons/icon-PhoneFeedBack.svg
  public/icons/icon-arrowUp.svg
  src/app/App.tsx
  src/components/aboutSection/aboutSection.module.css
  src/components/dropDownSection/dropDownItems/dropDownItems.module.css
  src/components/dropDownSection/dropDownItems/dropDownItems.tsx
  src/components/dropDownSection/dropDownSection.module.css
  src/components/dropDownSection/dropDownSection.tsx
  src/components/feedbackSection/feedBackForm/feedBackForm.module.css
  src/components/feedbackSection/feedBackForm/feedBackForm.tsx
  src/components/feedbackSection/feedbackSection.module.css
  src/components/feedbackSection/feedbackSection.tsx
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/masterButton/masterButton.module.css
  src/components/productSection/productSection.module.css
Due: prettier-staged, eslint-staged, stylelint-staged

Финальная верстка (как я думаю))
  public/video/Joji.mp4
  public/video/poster.png
  src/app/app.module.css
  src/components/aboutSection/about.constant.ts
  src/components/aboutSection/aboutSection.module.css
  src/components/aboutSection/widgetInfo/widgetInfo.module.css
  src/components/aboutSection/widgetInfo/widgetInfo.tsx
  src/components/aboutSection/widgetStats/widgetStats.module.css
  src/components/dropDownSection/dropDownItems/dropDownItems.module.css
  src/components/dropDownSection/dropDownItems/dropDownItems.tsx
  src/components/dropDownSection/dropDownSection.module.css
  src/components/feedbackSection/feedBackForm/feedBackForm.module.css
  src/components/feedbackSection/feedBackForm/feedBackForm.tsx
  src/components/feedbackSection/feedbackSection.module.css
  src/components/feedbackSection/feedbackSection.tsx
  src/components/feedbackSection/successMessage/successMessage.module.css
  src/components/feedbackSection/successMessage/successMessage.tsx
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/header/header.module.css
  src/components/header/header.tsx
  src/components/homeSection/homeSection.module.css
  src/components/homeSection/homeSection.tsx
  src/components/masterButton/masterButton.module.css
  src/components/masterButton/masterButton.tsx
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/components/productSection/productSection.module.css
  src/components/productSection/widgetProduct/widgetProduct.module.css
  src/components/productSection/widgetProduct/widgetProduct.tsx
  src/components/videoSection/videoSection.module.css
  src/components/videoSection/videoSection.tsx
Due: prettier-staged, eslint-staged, stylelint-staged

Заменил видео для теста
  public/video/test.mp4
  src/components/videoSection/videoSection.tsx
Due: prettier-staged, eslint-staged

fix
  src/components/feedbackSection/feedBackForm/feedBackForm.tsx
Due: prettier-staged, eslint-staged

Правка курсора и шрифта у продуктов
  src/components/productSection/widgetProduct/widgetProduct.module.css
Due: prettier-staged, stylelint-staged

Правки по desktop
  public/bck/stub.png
  src/components/aboutSection/about.constant.ts
  src/components/aboutSection/widgetInfo/widgetInfo.module.css
  src/components/aboutSection/widgetInfo/widgetInfo.tsx
  src/components/feedbackSection/feedBackForm/feedBackForm.module.css
  src/components/feedbackSection/feedbackSection.tsx
  src/components/footer/footer.tsx
  src/components/homeSection/homeSection.module.css
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/components/videoSection/videoSection.module.css
Due: prettier-staged, eslint-staged, stylelint-staged

Path conditions:
  prettier-staged: any of: **/*.{js,ts,tsx,vue,json,css,scss,md,html,yml,yaml}
  eslint-staged: any of: **/*.{js,ts,tsx,vue,mjs,cjs}
  stylelint-staged: any of: **/*.css
